apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: akka-persistence-data
  namespace: akka-persistence
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
